<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/firmwater/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="fwteamcity" />
            <add key="ClearTextPassword" value="28aeb69bd0159e786aaacaca39570ea98cdc768a" />
        </github>
    </packageSourceCredentials>
</configuration>